*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
#TitleMain {
  background-image: linear-gradient(180deg, rgb(134, 130, 255), #b308f6, rgb(39, 96, 252));
  background-clip: text;
  color: transparent;
  font-family: 'Fredoka One', cursive;
  font-size: 50px;
  text-align: center;
  margin-top: 30px;
}

.LinkZapEmail {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.LinkedInGitHub {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.contactText {
  color: white;
  font-size: 30px;
  font-family: 'Patrick Hand', cursive;
  margin: -30px;
  margin-right: 50px;
}

.contactDivs {
  display: flex;
  justify-content: space-around;
}
