* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color:  #ffffff;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

.Radius {
  border-radius: 35%;
  padding: 5px;
  margin: 2px;
}

.FontName {
  animation: go-back 5s infinite alternate;
  font-family: 'cookie';
  font-size: 60px;
  background-image: linear-gradient(90deg, rgb(9, 243, 9), rgb(47, 3, 241));
  background-clip: text;
  color: transparent;
}

  /* https://www.alura.com.br/artigos/css-animacoes-com-transitions-animations */
@keyframes go-back {
  from {
    transform: translateX(50px);
  }
  to {
    transform: translateX(-50px);
  }
}

.Contact {
  color: #341261;
  margin-top: 10px;
  font-family: 'Prompt', sans-serif;
}

.Links {
  font-size: 25px;
}
