.Text {
    color: rgb(179, 176, 176);
    font-family: 'Prompt';
    font-size: 20px;
    text-align: left;
  }
  
  .Description {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    width: 45%
  }
  
  .SectionOne {
    display: flex;
    background-color: #0025f738;
    margin-top: 4%;
    padding: 2%;
  }

  .Hello {
    color: rgb(123, 134, 235);
    font-family: 'cookie', cursive;
    font-size: 50px;
  }
  